@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

:root {
    --primary-color: #F2ECFF;
    --text-color: #474554;
    --button-color: #00B873;
    --boder-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'Poppins', sans-serif;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--primary-color);
}